{% load static %}<!DOCTYPE html>
<html lang="pl">
<head>	
	<meta charset="utf-8">
	<link href="{% static 'card/css/style.css' %}" rel="stylesheet">
</head>
	
<body>

<nav class="navbar">

<ul class="nav navbar">
	<li><a href="{% url 'card:index' %}">Start</a></li>
	{% if not user.is_authenticated %}
	<li><a href="{% url 'auth_login' %}">Zaloguj</a></li>
	<li><a href="{% url 'registration_register' %}">Utwórz konto</a></li>
	{% else %}
	<li><a href="{% url 'auth_logout' %}">Wyloguj:{{ user.username }}</a></li> 
	<li><a href="{% url 'card:lista' %}">Lista kart</a></li>
	<li><a href="{% url 'card:dodaj' %}">Dodaj kartę</a></li>
	{% endif %}
</ul>

</nav>

<div class="container">

	<h1>{% block tytul_h1 %}{% endblock %}</h1>
<div class="tresc">
	{% block tresc %}{% endblock %}
</div>

</body>
</html>
