{% extends "card/base.html"%}

{% block tytul_h1 %}
Lista kart
{% endblock %}

{% block tresc %}
<table class="table">
	<tr>
		<th>Lp.</th><th>Numer karty</th><th>Imie</th><th>Nazwisko</th>
		<th>Autor</th>
		<th>Info</th>

	</tr>
	{% for p in object_list %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ p.nazwa }}</td>
		<td>{{ p.imie }}</td>
		<td>{{ p.nazwisko }}</td>
		<td>{{ p.autor }}</td>		
		<td>
			<a href="#">Edytuj</a>
			<a href="#">Usuń</a>
		</td>
	</tr>
	{% endfor %}	


</table>
{% endblock %}
